.about-container {
  height: 100vh;
  position: relative;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  margin-bottom: -20px;
}
.about-container .about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: black;
  padding: 50px;
  border-radius: 25px;
  height: 80%;
}
.about-container .about h3 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.about-container .about h4 {
  font-size: 100px;
  font-family: "Whisper", cursive;
  color: white;
}
.about-container .about p {
  font-size: 30px;
  color: white;
}

.about-container .about a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}
.about-container .about a:hover {
  font-size: 30px;
}
/* Media */
@media (max-width: 576px) {
  .about-container .about h3 {
    font-size: 25px;
  }
  .about-container .about h4 {
    font-size: 75px;
  }
  .about-container .about p {
    font-size: 25px;
    display: none;
  }
  .about-container .about a {
    font-size: 20px;
  }
  .about-container .about {
    padding: 40px;
  }
}
